/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2019, 22:33:47
    Author     : cyms8
*/
.formulario{
    background: #fff;
    padding: 20px;
    border-radius: 10px;


    margin-top: 50px;
    margin-bottom: 50px;
    float: none;    

    box-shadow: 0px 0px 10px 0px #265a88;
}
.btn-preto:hover{
    background: #bbdefb;
}